apiVersion: v1
kind: Secret
metadata:
  name: authentik-credentials
  namespace: auth
type: Opaque
stringData:
  secret-key: "REPLACE_WITH_DJANGO_SECRET_KEY"
  postgres-password: "REPLACE_WITH_POSTGRES_PASSWORD"
  bootstrap-password: "REPLACE_WITH_BOOTSTRAP_PASSWORD"
  bootstrap-token: "REPLACE_WITH_BOOTSTRAP_TOKEN"
