apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - deployment.yaml
commonLabels:
  app.kubernetes.io/name: ml-training
  app.kubernetes.io/component: training
  app.kubernetes.io/managed-by: flux
