apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - helmrelease.yaml
  - cloudflare-secret.enc.yaml
  - clusterissuer.yaml
  - clusterissuer-staging.yaml
