apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - deployment.yaml
  - service.yaml
commonLabels:
  app.kubernetes.io/name: gpu-inference
  app.kubernetes.io/component: inference
  app.kubernetes.io/managed-by: flux
